## Muthu Priya Shanmugakani Velsamy
### 801147635
### Module_5_Assignment
### ITCS-5111 Intro to Natural Language Processing

<a href="#Question 1 Answer" style="color:blue;">Click here to have a look at Answer to Question-1 Combined dataframe</a>

<a href="#Question 2 Answer_CV" style="color:blue;">Click here to have a look at Answer to Question-2 Count Vectorizer</a>

<a href="#Question 2 Answer_TFIDF" style="color:blue;">Click here to have a look at Answer to Question-2 TFIDF</a>

<a href="#Question 3 Answer_Naive_Bayes" style="color:blue;">Click here to have a look at Answer to Question-3 Multinomial Naive Bayes</a>

<a href="#Question 4 Answer_predict_the_language" style="color:blue;">Click here to have a look at Answer to Question-4 -Predict the language TFIDF</a>

<a href="#Question 5 Answer_predict_the_language_5_sentences" style="color:blue;">Click here to have a look at Answer to Predict the language for 5 other sentences</a>

<a href="#Extra_credit" style="color:blue;">Click here to have a look at the Extra Credit - Testing the model on a sentence of your own that the model predicts incorrectly</a>

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [2]:
# Load the course data files for English into a dataframe using Pandas
dataframe_english = pd.read_csv(r"C:\Users\muthu\Desktop\UNCC\Semester-3\NLP\Assignments\Data_Input\CONcreTEXT_trial_EN.tsv", sep = "\t")
dataframe_english

,TARGET,POS,INDEX,TEXT,MEAN
0,achievement,N,3,"Bring up academic achievements , awards , and ...",3.06
1,achievement,N,9,"Please list people you have helped , your pers...",3.03
2,activate,V,1,Add activated carbon straight to your vodka .,3.83
3,activate,V,15,"Place sensors around your garden , and when a ...",5.51
4,adventure,N,9,Look for a partner that shares your level of a...,2.03
...,...,...,...,...,...
95,water,N,5,Rinse your face with warm water and pat it dry .,6.91
96,win,V,4,Staying mentally strong means winning half the...,2.34
97,win,V,7,The person who has the highest score wins the ...,4.60
98,woman,N,7,"For the most part , men and women wear the sam...",6.29
99,woman,N,3,Look at the woman whom you are listening to fo...,6.57

In [3]:
# Add a new column to the dataframe with the same value
dataframe_english['LANGUAGE'] = 'ENGLISH'
dataframe_english

,TARGET,POS,INDEX,TEXT,MEAN,LANGUAGE
0,achievement,N,3,"Bring up academic achievements , awards , and ...",3.06,ENGLISH
1,achievement,N,9,"Please list people you have helped , your pers...",3.03,ENGLISH
2,activate,V,1,Add activated carbon straight to your vodka .,3.83,ENGLISH
3,activate,V,15,"Place sensors around your garden , and when a ...",5.51,ENGLISH
4,adventure,N,9,Look for a partner that shares your level of a...,2.03,ENGLISH
...,...,...,...,...,...,...
95,water,N,5,Rinse your face with warm water and pat it dry .,6.91,ENGLISH
96,win,V,4,Staying mentally strong means winning half the...,2.34,ENGLISH
97,win,V,7,The person who has the highest score wins the ...,4.60,ENGLISH
98,woman,N,7,"For the most part , men and women wear the sam...",6.29,ENGLISH
99,woman,N,3,Look at the woman whom you are listening to fo...,6.57,ENGLISH

In [4]:
# Load the course data files for Italian into a dataframe using Pandas
dataframe_italian = pd.read_csv(r"C:\Users\muthu\Desktop\UNCC\Semester-3\NLP\Assignments\Data_Input\CONcreTEXT_trial_IT.tsv", sep = "\t")
dataframe_italian

,TARGET,POS,INDEX,TEXT,MEAN
0,affascinare,V,8,Guardati i piedi o fai finta di essere affasci...,2.39
1,affascinare,V,1,Sei affascinato dal funzionamento della mente ...,2.03
2,amore,N,5,"Pensa ai tuoi sentimenti di amore , passione e...",2.71
3,amore,N,7,Quasi tutti sono in grado di ricevere amore e ...,2.16
4,aria,N,4,Accendi il condizionatore sullâ€™ aria fredda ma...,5.68
...,...,...,...,...,...
95,veritÃ,N,8,"In un modo o nell' altro , la veritÃ viene sem...",2.53
96,viaggio,N,2,Organizza dei viaggi nel fine settimana quando...,5.03
97,viaggio,N,6,Pesa le tue valigie prima del viaggio per evit...,4.84
98,vista,N,6,Ã¨ molto importante non perdere di vista la pro...,2.22
99,vista,N,9,i conigli hanno un ottimo udito e un' ottima v...,5.13

In [5]:
# Add a new column to the dataframe with the same value
dataframe_italian['LANGUAGE'] = 'ITALIAN'
dataframe_italian

,TARGET,POS,INDEX,TEXT,MEAN,LANGUAGE
0,affascinare,V,8,Guardati i piedi o fai finta di essere affasci...,2.39,ITALIAN
1,affascinare,V,1,Sei affascinato dal funzionamento della mente ...,2.03,ITALIAN
2,amore,N,5,"Pensa ai tuoi sentimenti di amore , passione e...",2.71,ITALIAN
3,amore,N,7,Quasi tutti sono in grado di ricevere amore e ...,2.16,ITALIAN
4,aria,N,4,Accendi il condizionatore sullâ€™ aria fredda ma...,5.68,ITALIAN
...,...,...,...,...,...,...
95,veritÃ,N,8,"In un modo o nell' altro , la veritÃ viene sem...",2.53,ITALIAN
96,viaggio,N,2,Organizza dei viaggi nel fine settimana quando...,5.03,ITALIAN
97,viaggio,N,6,Pesa le tue valigie prima del viaggio per evit...,4.84,ITALIAN
98,vista,N,6,Ã¨ molto importante non perdere di vista la pro...,2.22,ITALIAN
99,vista,N,9,i conigli hanno un ottimo udito e un' ottima v...,5.13,ITALIAN

<a id="Question 1 Answer">
</a>

## Question-1 Answer - Combined Dataframe - English & Italian

In [6]:
# Question-1
# Combining both the dataframes using concat function in pandas
combined_dataframe = pd.concat([dataframe_english, dataframe_italian])
combined_dataframe

,TARGET,POS,INDEX,TEXT,MEAN,LANGUAGE
0,achievement,N,3,"Bring up academic achievements , awards , and ...",3.06,ENGLISH
1,achievement,N,9,"Please list people you have helped , your pers...",3.03,ENGLISH
2,activate,V,1,Add activated carbon straight to your vodka .,3.83,ENGLISH
3,activate,V,15,"Place sensors around your garden , and when a ...",5.51,ENGLISH
4,adventure,N,9,Look for a partner that shares your level of a...,2.03,ENGLISH
...,...,...,...,...,...,...
95,veritÃ,N,8,"In un modo o nell' altro , la veritÃ viene sem...",2.53,ITALIAN
96,viaggio,N,2,Organizza dei viaggi nel fine settimana quando...,5.03,ITALIAN
97,viaggio,N,6,Pesa le tue valigie prima del viaggio per evit...,4.84,ITALIAN
98,vista,N,6,Ã¨ molto importante non perdere di vista la pro...,2.22,ITALIAN
99,vista,N,9,i conigli hanno un ottimo udito e un' ottima v...,5.13,ITALIAN

In [7]:
combined_text_column = combined_dataframe['TEXT']
combined_text_column.head(5)

0    Bring up academic achievements , awards , and ...
1    Please list people you have helped , your pers...
2       Add activated carbon straight to your vodka .
3    Place sensors around your garden , and when a ...
4    Look for a partner that shares your level of a...
Name: TEXT, dtype: object

In [8]:
# # Spliting the training and test data set in 80% : 20% using train_test_split

# combined_df_train, combined_df_test = train_test_split(combined_dataframe['TEXT'], test_size=0.2, shuffle=True, random_state=42)

# print("\t English Language Train data: \n\n", combined_df_train.head(5), "\n\n Length of the Train data is: ", len(combined_df_train))
# print('\n')
# print("***********************************************************")
# print('\n')
# print("\t English Language Test data: \n\n", combined_df_test.head(5), "\n\n Length of the Train data is: ", len(combined_df_test))

In [9]:
# # X = combined_dataframe['TEXT'].values
# # y = combined_dataframe['LANGUAGE'].values

# # X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, shuffle=True, random_state=42)

# # print('X_train:', X_train.shape)
# # print('X_test:', X_test.shape)
# # print('y_train:', y_train.shape)
# # print('y_test:', y_test.shape)

<a id="Question 2 Answer_CV">
</a>

## Question-2 Answer - Count Vectorizer

In [10]:
# CountVectorizer() is used for Text preprocessing, tokenizing and filtering of stopwords in the given text.
count_vect = CountVectorizer()
combined_text_column_count_vect = count_vect.fit_transform(combined_text_column)
combined_text_column_count_vect.shape

(200, 1330)

In [11]:
count_vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [12]:
combined_text_column_count_vect

<200x1330 sparse matrix of type '<class 'numpy.int64'>'
	with 2355 stored elements in Compressed Sparse Row format>

<a id="Question 2 Answer_TFIDF">
</a>

## Question-2 Answer - TFIDF

In [13]:
# TfidfTransformer() is used for converting the words occurrences to frequencies
tfidf_transformer = TfidfTransformer()
combined_text_column_count_vect_tfidf = tfidf_transformer.fit_transform(combined_text_column_count_vect)
combined_text_column_count_vect_tfidf.shape

(200, 1330)

<a id="Question 3 Answer_Naive_Bayes">
</a>

## Question-3 Answer - Multinomial Naive Bayes

In [14]:
naive_bayes_model = MultinomialNB().fit(combined_text_column_count_vect_tfidf, combined_dataframe['LANGUAGE'])
naive_bayes_model

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

<a id="Question 4 Answer_predict_the_language">
</a>

## Question-4 Answer - Predict the language

In [15]:
category = combined_dataframe['LANGUAGE'].unique()
category
# category = ['ENGLISH', 'ITALIAN']

array(['ENGLISH', 'ITALIAN'], dtype=object)

In [16]:
docs_new = ['Why does a rose smell sweet?', 'Pensa ai tuoi sentimenti di amore.']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = naive_bayes_model.predict(X_new_tfidf)
predicted

for doc, category in zip(docs_new, predicted):
    #print(predicted)
    print('%r => %s' % (doc, category))

'Why does a rose smell sweet?' => ENGLISH
'Pensa ai tuoi sentimenti di amore.' => ITALIAN

<a id="Question 5 Answer_predict_the_language_5_sentences">
</a>

## Question-5 Answer - Predict the language for 5 other sentences

In [17]:
# Testing the model with the sentences in the dataset
docs_new = ['In questo modo non dovrai creare spazio sul tuo cellulare per il file di aggiornamento .', 
            'Please list people you have helped', 
            'Se la ricetta ti indica di cucinare il pollo non spellato', 
            'Expand your repertoire of brain games', 
            'Part of loving life is to not be ruled by fear , which will suffocate you in unhappiness .']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = naive_bayes_model.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print('%r => %s' % (doc, category))

'In questo modo non dovrai creare spazio sul tuo cellulare per il file di aggiornamento .' => ITALIAN
'Please list people you have helped' => ENGLISH
'Se la ricetta ti indica di cucinare il pollo non spellato' => ITALIAN
'Expand your repertoire of brain games' => ENGLISH
'Part of loving life is to not be ruled by fear , which will suffocate you in unhappiness .' => ENGLISH

In [18]:
# Testing the model with the sentences of my own
docs_new = ['The team played really well and they won the match with full domination.', 
            'Una bella ragazza cammina per strada', 
            'Lucia ha paura', 
            'Cricket is an International game followed by many people', 
            'The problem is not that big as you think !!']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = naive_bayes_model.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print('%r => %s' % (doc, category))

'The team played really well and they won the match with full domination.' => ENGLISH
'Una bella ragazza cammina per strada' => ITALIAN
'Lucia ha paura' => ITALIAN
'Cricket is an International game followed by many people' => ENGLISH
'The problem is not that big as you think !!' => ENGLISH

## Observation
From the above result, we can see that all the 5 sentences were guessed correctly by the model and predicted the correct language appropriately with 100% accuracy.

<a id="Extra_credit">
</a>

## Extra Credit - Testing the model on a sentence of your own that the model predicts incorrectly

In [19]:
docs_new = ['stesse frasi brodo', 
            'Hai Bravo, pizza?', 
            'Lucia Credibile Prestazione ',
            'Domani pioggia intensa', 
            'Carla parla inglese?', 
            'Amo MS Dhoni']
X_new_counts = count_vect.transform(docs_new)
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

predicted = naive_bayes_model.predict(X_new_tfidf)

for doc, category in zip(docs_new, predicted):
    print('%r => %s' % (doc, category))

'stesse frasi brodo' => ENGLISH
'Hai Bravo, pizza?' => ITALIAN
'Lucia Credibile Prestazione ' => ENGLISH
'Domani pioggia intensa' => ENGLISH
'Carla parla inglese?' => ENGLISH
'Amo MS Dhoni' => ENGLISH

## Observation

In the above result, first, third, fourth and final sentences are actaully Italian but the model predicted them wrongly as English.
The second sentence is English but the model predicted it wrongly as Italian.